pandas
numpy
matplotlib
seaborn
langchain===1.2.13
langchain-core===1.2.23
langchain_groq===1.1.2
langchain-community===0.4.1
langchain-text-splitters===1.1.1
langchain-huggingface===1.2.1
sentence-transformers
pypdf
faiss-cpu
langchain_huggingface
gradio
psycopg2-binary
pgvector
python-dotenv